table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  background: #fff;
  margin-left: auto !important;
  margin-right: auto !important;
}

td,
th {
  vertical-align: top;
  font-size: 12pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* "li span.odfLiEnd" - IE 7 issue*/
li span {
  clear: both;
  line-height: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

span.footnodeNumber {
  padding-right: 1em;
}

span.annotation_style_by_filter {
  font-size: 95%;
  font-family: Arial;
  background-color: #fff000;
  margin: 0;
  border: 0;
  padding: 0;
}

span.heading_numbering {
  margin-right: 0.8rem;
}

* {
  margin: 0;
}

.P1 {
  font-size: 8pt;
  line-height: 100%;
  margin-bottom: 0cm;
  margin-top: 0cm;
  text-align: left ! important;
  font-family: Times New Roman;
  writing-mode: lr-tb;
  font-weight: bold;
}

.P2 {
  font-size: 8pt;
  line-height: 100%;
  margin-bottom: 0cm;
  margin-top: 0cm;
  text-align: left ! important;
  font-family: Times New Roman;
  writing-mode: lr-tb;
}

.P3 {
  font-size: 8pt;
  line-height: 100%;
  margin-bottom: 0cm;
  margin-top: 0cm;
  text-align: center ! important;
  font-family: Times New Roman;
  writing-mode: lr-tb;
}

.P4 {
  font-size: 11pt;
  line-height: 100%;
  margin-bottom: 0cm;
  margin-top: 0cm;
  text-align: left ! important;
  font-family: Calibri;
  writing-mode: lr-tb;
}

.P5 {
  font-size: 11pt;
  line-height: 100%;
  margin-bottom: 0cm;
  margin-top: 0cm;
  text-align: center ! important;
  font-family: Calibri;
  writing-mode: lr-tb;
}

.P6 {
  font-size: 11pt;
  line-height: 100%;
  margin-bottom: 0cm;
  margin-top: 0cm;
  text-align: justify ! important;
  font-family: Calibri;
  writing-mode: lr-tb;
}

.P7 {
  font-size: 11pt;
  line-height: 100%;
  margin-bottom: 0cm;
  margin-top: 0.212cm;
  text-align: left ! important;
  font-family: Calibri;
  writing-mode: lr-tb;
}

.P8 {
  font-size: 11pt;
  line-height: 115%;
  margin-bottom: 0.353cm;
  margin-top: 0cm;
  text-align: left ! important;
  font-family: Calibri;
  writing-mode: lr-tb;
}

.Standard {
  font-size: 11pt;
  font-family: Calibri;
  writing-mode: lr-tb;
  margin-top: 0cm;
  margin-bottom: 0.353cm;
  line-height: 115%;
  text-align: left ! important;
}

.Table1 {
  width: 16.828cm;
  margin-left: 0.191cm;
  margin-top: 0cm;
  margin-bottom: 0cm;
  margin-right: auto;
  writing-mode: lr-tb;
}

.Table1_A1 {
  padding-left: 0.199cm;
  padding-right: 0.191cm;
  padding-top: 0cm;
  padding-bottom: 0cm;
  border-width: 0.0176cm;
  border-style: solid;
  border-color: #000000;
}

.Table1_A {
  width: 1.27cm;
}

.Table1_B {
  width: 6.668cm;
}

.Table1_C {
  width: 1.427cm;
}

.Table1_D {
  width: 3.494cm;
}

.Table1_E {
  width: 3.967cm;
}

.T1 {
  font-family: Times New Roman;
  font-size: 14pt;
  text-decoration: underline;
  font-weight: bold;
}

.T2 {
  font-family: Times New Roman;
  font-size: 12pt;
}

.T4 {
  font-family: Times New Roman;
  font-weight: bold;
}

.T5 {
  font-family: Times New Roman;
}

.T6 {
  font-family: Times New Roman;
  font-size: 10pt;
}

.T7 {
  font-family: Times New Roman;
  font-size: 10pt;
  font-style: italic;
}

.T8 {
  font-family: Times New Roman;
  font-style: italic;
}

