.footer-container{
    background-color: #3c4049;
    color: white;
    position: relative;
    width: 100%;
}

.footer-top{
    font-size: 0.8em;
    padding-top: 15px;
    text-align: center;
}

.footer-bottom{
    background-color: #30343d;
    width: 100%;
    bottom: 0;
    padding: 5px 0;
    font-size: 0.8em;
    text-align: center;
}

@media only screen and (min-width: 990px){
    .footer-container .social-link-container ul li{
        top: 15px;
    }
}
