.nav-container{
    background-color: #282c34;
    height: 50px;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    
}

.nav-container ul{
 list-style: none;
 display: flex;
 flex-wrap: wrap;
}

.nav-container ul li{
    padding: 12px 1rem;
    font-size: 1.1em;
}

.nav-container ul li a:hover{
    border-bottom: 2px solid rgb(209, 36, 79);;
}

.nav-container a{
    color: #fff;
    text-decoration: none;
}

.nav-container a:active{
    color: rgb(209, 36, 79);
    text-decoration: none;
}

.nav-container .nav_logo {
/* background: #e5e6e7; */
border-radius: 100%;
height:40px;
position: absolute;
top: 5px;
left: 10px;
}
.nav-spacer{
flex-grow: 5;
}

.sign-in-btn{
    border: none;
    background: transparent;
    color: #fff;
}